@mixin wrapList {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  justify-content: center;
}

@mixin justifying($justifying) {
  display: flex;
  justify-content: $justifying;
}
@mixin alignment($align) {
  display: flex;
  align-items: $align;
}
@mixin flex-justify-align($justifying, $align) {
  @include alignment($align);
  justify-content: $justifying;
}
