@import "../../../styles.scss";
.filter-section {
  @include flex-justify-align(space-around, center);
  margin: 5.6rem;

  .input-filter {
    position: relative;
    @include alignment(center);
    input {
      border-radius: 3.2rem;
      padding: 1.2rem;
      width: 32rem;
      padding-right: 30px;

      &.dark {
        border: none;
        background-color: $blackA;
        color: rgba(228, 244, 244, 0.5); /* Aplicar cor ao texto do input */
        &::placeholder {
          color: rgba(228, 244, 244, 0.5); /* Aplicar cor ao placeholder */
        }
      }

      &.light {
        border: 0.1rem solid $darkGray;
      }
    }
    img {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px; /* Ajuste o tamanho da imagem */
      cursor: pointer;
      height: 20px;
    }
  }

  .selection-filters {
    @include alignment(center);
  }
}
