@import "../../../styles.scss";
.card {
  @include flex-justify-align(center, space-around);
  flex-direction: column;
  border-radius: 0.8rem;
  padding: 0.4rem;
  &.card-light {
    background-color: $bgCardLight;
  }
  &:hover {
    background-color: $bgCardLightHover;
    cursor: pointer;
  }
  .element-infos {
    width: 100%;
    height: 30%;
    gap: 0.8rem;
    @include justifying(space-between);
    .wrapper-card {
      align-items: center;
      p {
        @include alignment(center);
        gap: 1.2rem;
      }
    }
  }
  .action-buttons {
    @include flex-justify-align(center, space-between);
    width: 100%;
    height: 100%;
  }
  &.characters {
    width: 34.4rem;
    height: 42rem;
    figure {
      width: 26.2rem;
      height: 20rem;
    }
    .characterImg {
      border-radius: 0.8rem;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .element-infos {
      // border: solid brown 5px;
      padding-left: 1.6rem;
      p:first-child {
        font-weight: 700;
      }
      .character-infos {
        display: flex;
        margin-top: 1.2rem;
        flex-direction: column;
        width: 16rem;
        // border: solid 6px slateblue;
        p {
          @include alignment(center);
          gap: 0.4rem;
        }
      }
      .action-buttons {
        flex-direction: column;
        // border: solid 5px red;
      }
    }
  }
  &.episodes {
    width: 27.2rem;
    height: 9.6rem;
    justify-content: stretch;
    padding: 1.6rem;

    .element-infos {
      flex-direction: column;
    }
    .action-buttons {
      // border: solid 7px red;
      flex-direction: row-reverse;
      button img {
        width: 3.2rem;
      }
    }
  }
  &.locations {
    width: 20rem;
    height: 24rem;

    flex-direction: column;
    position: relative;
    padding: 3rem;

    gap: 3rem;
    figure {
      position: absolute;
      left: calc(14.7rem / 2);
      top: -12%;
      img {
        width: 4.8rem;
      }
    }
    .element-infos {
      height: fit-content;
      flex-direction: column;
      gap: 3rem;

      .wrapper-card {
        p {
          text-align: center;
          display: block;
        }
        p:first-child {
          margin: 1.2rem;
        }
        p:nth-child(n + 2) {
          color: $blueA;
        }
      }
      .action-buttons {
        display: flex;
        flex-direction: column-reverse;
        button img {
          width: 3.2rem;
        }
      }
    }
  }
}
