<div [ngClass]="['card', elementType, currentTheme]">
  @if(elementType == "characters") {
  <figure>
    <img src="{{ currentCharacter?.image }}" class="characterImg" />
  </figure>
  } @else if (elementType == "locations") {
  <figure>
    <img src="{{ currentImageLocation }}" class="locationIcon" />
  </figure>
  }
  <div class="element-infos">
    <div class="wrapper-card">
      @if(elementType == "locations"){
      <p [ngClass]="[currentTheme]">Planet</p>
      }
      <p
        [ngClass]="[currentTheme]"
        [ngStyle]="{
          'font-weight': elementType == 'characters' ? '700' : '400'
        }"
      >
        @if(elementType == "episodes"){
        <img src="{{ currentImageEpisode }}" />
        }

        {{ dataElement.name }} @if(elementType == "episodes") {
        {{ "|" + " " + currentEpisode?.episode }}
        }
      </p>
      @if(elementType == "characters"){

      <div class="character-infos">
        @for (info of characterInfos; track 0) {
        <p [ngClass]="[currentTheme]">
          <span>
            <img src="{{ info.icon }}" />
          </span>
          {{ info.textContent }}
        </p>
        }
      </div>
      }
    </div>

    <div class="action-buttons">
      <button
        (click)="
          isFavorite
            ? removeFavorite(dataElement.id)
            : addFavorite(dataElement.id)
        "
      >
        <img src="{{ currentIcon }}" />
      </button>
      <app-button
        [iconLight]="cardImages.info.light"
        [iconDark]="cardImages.info.dark"
        textContent="Saiba Mais"
        (click)="onDetailRequested()"
        routerLink="/{{ elementType }}/{{ dataElement.id }}"
      ></app-button>
    </div>
  </div>
</div>
