<div class="card card-light" [ngClass]="elementType">
  @if(elementType == "characters") {
  <figure>
    <img src="{{ currentCharacter?.image }}" class="characterImg" />
  </figure>
  } @else if (elementType == "locations") {
  <figure>
    <img src="{{ iconCardLocation }}" class="locationIcon" />
  </figure>
  }
  <div class="element-infos">
    <div class="wrapper-card">
      @if(elementType == "locations"){
      <p>Planet</p>
      }
      <p
        [ngStyle]="{
          'font-weight': elementType == 'characters' ? '700' : '400'
        }"
      >
        @if(elementType == "episodes"){
        <img src="{{ iconCardEpisode }}" />
        }

        {{ dataElement.name }} @if(elementType == "episodes") {
        {{ "|" + " " + currentEpisode?.episode }}
        }
      </p>
      @if(elementType == "characters"){

      <div class="character-infos">
        @for (info of characterInfos; track 0) {
        <p>
          <span>
            <img src="{{ info.icon }}" />
          </span>
          {{ info.textContent }}
        </p>
        }
      </div>
      }
    </div>

    <div class="action-buttons">
      <button
        (click)="
          isFavorite
            ? removeFavorite(dataElement.id)
            : addFavorite(dataElement.id)
        "
      >
        <img src="{{ currentIcon }}" />
      </button>
      <app-button
        iconLight="{{ infoIconLight }}"
        iconDark="{{ infoIconDark }}"
        textContent="Saiba Mais"
      ></app-button>
    </div>
  </div>
</div>
