<footer [ngClass]="currentTheme">
  <div class="top-footer">
    <img src="{{ bannerIcons.logoRM }}" />
    <app-button
      [iconLight]="bannerIcons.arrow.light"
      [iconDark]="bannerIcons.arrow.dark"
      textContent="Voltar ao topo"
      (click)="scrollToTop()"
    ></app-button>
  </div>
  <div class="divider"></div>
  <div class="bottom-footer">
    <p [ngClass]="currentTheme">&copy; 2024</p>
    <div class="author-details">
      <img src="{{ bannerIcons.code }}" />
      <p [ngClass]="currentTheme">
        Desenvolvido por <span>Thayza Oliveira</span>
      </p>
    </div>
  </div>
</footer>
