@import "../../../styles.scss";

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3.2rem 0;
  &.dark {
    background-color: $darkGray;
  }
  .top-footer {
    @include flex-justify-align(space-around, center);
  }
  .divider {
    height: 0.2rem;
    width: 100%;
    background-color: #d9d9d9;
  }
  .bottom-footer {
    @include flex-justify-align(space-around, center);
    .author-details {
      @include alignment(center);
      gap: 1.2rem;
      span {
        font-weight: 700;
      }
    }
    span {
      color: $blueA;
    }
  }
}
