<app-banner></app-banner>
<app-filter
  (search)="onSearch($event)"
  (filterChange)="onFilterChange($event)"
  (requestFilter)="applyFilter()"
></app-filter>
@if (filteredElements.length > 0) {
<app-card-listing [elementsList]="filteredElements" />
} @else { @for (item of elements | keyvalue ; track 0) {
<div [ngClass]="['heading', currentTheme]">
  <h2>{{ keyToPortuguese[item.key] }}</h2>
  <app-button
    routerLink="/{{ item.key }}"
    [iconDark]="seeAllButton.iconDark"
    [iconLight]="seeAllButton.iconLight"
    [textContent]="seeAllButton.textContent"
  ></app-button>
</div>
<app-card-listing [elementsList]="item.value" />
} }
