<section [ngClass]="['location-detail', currentTheme]">
  <div class="top-location-detail">
    <a routerLink="/">
      <img src="{{ bannerIcons.logoRM }}" />
    </a>
    <app-button
      routerLink="/favorites"
      [iconLight]="bannerIcons.heart.light"
      [iconDark]="bannerIcons.heart.dark"
      textContent="Lista de Favoritos"
    ></app-button>
  </div>
  <div class="bottom-location-detail">
    <img src="{{ currentIcons.planetIcon }}" class="main-icon" />
    <h2 [ngClass]="[currentTheme]">{{ currentLocation?.name }}</h2>
    <div class="infos-location">
      <span [ngClass]="[currentTheme]">
        <img src="{{ currentIcons.planetIcon }}" />
        Planet
      </span>
      <span [ngClass]="[currentTheme]">
        <img src="{{ currentIcons.dimensionIcon }}" />

        {{ currentLocation?.dimension }}
      </span>
    </div>

    <span [ngClass]="['residents-location', currentTheme]">
      <img src="{{ currentIcons.smileyIcon }}" />
      {{ currentLocation?.residents?.length }} Personagens localizados
      aqui</span
    >
  </div>
</section>
