<section [ngClass]="['episode-detail', currentTheme]">
  <div class="top-episode-detail">
    <a routerLink="/">
      <img src="{{ bannerIcons.logoRM }}" />
    </a>
    <app-button
      routerLink="/favorites"
      [iconDark]="bannerIcons.heart.dark"
      [iconLight]="bannerIcons.heart.light"
      textContent="Lista de Favoritos"
    ></app-button>
  </div>
  <div class="bottom-episode-detail">
    <img src="{{ currentIcons.playIcon }}" />
    <h2 [ngClass]="[currentTheme]">{{ currentEpisode?.name }}</h2>
    <div class="episode-infos">
      <span [ngClass]="[currentTheme]">
        <img src="{{ currentIcons.calendarIcon }}" />
        {{ currentEpisode?.air_date }}
      </span>
      <span [ngClass]="[currentTheme]">
        <img src="{{ currentIcons.queueIcon }}" />
        {{ currentEpisode?.episode }}
      </span>
    </div>
    <span [ngClass]="[currentTheme]">
      <img src="{{ currentIcons.smileyIcon }}" />
      {{ currentEpisode?.characters?.length }} personagens participaram deste
      episódio
    </span>
  </div>
</section>
