@import "../../../../styles.scss";
.episode-detail {
  display: flex;
  flex-direction: column;
  padding: 2rem 16rem;
  border-bottom: $blueA 0.2rem solid;
  .top-episode-detail {
    @include flex-justify-align(space-around, center);
  }
  .bottom-episode-detail {
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2 {
      font-size: 4.8rem;
    }
    span {
      font-size: 1.8rem;
      @include alignment(center);
      gap: 0.6rem;
      img {
        width: 2.2rem;
      }
    }
    .episode-infos {
      @include alignment(center);
      gap: 3.2rem;
    }
    img:first-child {
      width: 7.2rem;
    }
  }
}
