<section [ngClass]="['section-pagination', currentTheme]">
  <div class="wrapper-pagination">
    <button [disabled]="currentPage === 1" (click)="previousGroup()">
      <img src="{{ currentArrows.left }}" />
    </button>

    <ng-container>
      @for (page of visiblePages; track page) {

      <button
        [ngClass]="{
          active: page === currentPage,
          'inner-button': true
        }"
        [class]="currentTheme"
        (click)="changePage(page)"
      >
        {{ page }}
      </button>
      }
    </ng-container>

    <button [disabled]="currentPage === totalPages" (click)="nextGroup()">
      <img src="{{ currentArrows.right }}" />
    </button>
  </div>
</section>
