@import "../../../styles.scss";

.button {
  display: flex;
  // justify-content: space-evenly;
  border-radius: 3.2rem;
  padding: 0.8rem;
  // width: 11.5rem;
  width: fit-content;
  gap: 0.6rem;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
  &:active,
  &.active {
    background-color: $blueA;
    color: $white;
  }
}
