<section [ngClass]="['header-section', currentTheme]">
  <div class="top-header">
    <a routerLink="/">
      <img src="{{ bannerImages.logoRM }}" />
    </a>
    <app-button
      [iconLight]="bannerImages.heart"
      [iconDark]="bannerImages.heart"
      routerLink="/favorites"
      textContent="Lista de Favoritos"
    ></app-button>
  </div>
  <div class="bottom-header">
    <div class="heading">
      <h1 [ngClass]="[currentTheme]">
        Saiba tudo em <br />
        um só <span>lugar.</span>
      </h1>
      <p [ngClass]="[currentTheme]">
        Personagens, localizações, episódios e muito mais.
      </p>
      <div class="theme-buttons">
        <app-button
          textContent="Escuro"
          [iconLight]="bannerImages.darkIcon.light"
          [iconDark]="bannerImages.darkIcon.dark"
          (click)="toggleTheme('dark')"
        ></app-button>
        <app-button
          textContent="Claro"
          [iconLight]="bannerImages.lightIcon.light"
          [iconDark]="bannerImages.lightIcon.dark"
          (click)="toggleTheme('light')"
        ></app-button>
      </div>
      <p>{{ currentMessage }}</p>
    </div>
    <figure>
      <img src="{{ bannerImages.currentImage }}" />
    </figure>
  </div>
</section>
