@import "../../../styles.scss";

.header-section {
  flex-direction: column;
  width: 100%;
  border-bottom: 0.2rem solid $blueA;
  &.dark {
    background-color: black;
  }
  @include alignment(center);
  .top-header {
    width: inherit;
    @include flex-justify-align(space-around, center);
  }
  .bottom-header {
    width: inherit;
    @include flex-justify-align(space-around, center);
    gap: 2.4rem;
    .heading {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      h1 {
        font-size: 4.8rem;
        &.dark {
          color: white;
        }
        span {
          color: $blueA;
        }
      }
      .theme-buttons {
        margin-top: 2rem;
        gap: 1.2rem;
        @include alignment(center);
      }
      p:last-child {
        color: $blueA;
      }
    }
  }
}
