<section [ngClass]="['character-detail', currentTheme]">
  <div class="top-character-detail">
    <a routerLink="/">
      <img src="{{ bannerIcons.logoRM }}" />
    </a>
    <app-button
      routerLink="/favorites"
      [iconLight]="bannerIcons.heart.light"
      [iconDark]="bannerIcons.heart.dark"
      textContent="Lista de Favoritos"
    ></app-button>
  </div>
  <div class="bottom-character-detail">
    <figure>
      <img src="{{ currentCharacter?.image }}" />
    </figure>
    <div class="character-section">
      <div class="character-infos">
        <div class="character-detail-info">
          <h2 [ngClass]="currentTheme">{{ currentCharacter?.name }}</h2>
          <button
            (click)="
              isFavorite
                ? removeFavorite(currentId ? currentId : 1)
                : addFavorite(currentId ? currentId : 1)
            "
          >
            <img src="{{ currentFavoriteIcon }}" />
          </button>
        </div>
        <span [ngClass]="currentTheme">
          <img src="{{ currentIcons.currentPlayIcon }}" />
          Participou de {{ currentCharacter?.episode?.length }} episódios
        </span>
        <div class="character-details-status">
          <span>
            <img src="{{ bannerIcons.pulse }}" />
            {{ currentCharacter?.status }}
          </span>
          <span>
            <img src="{{ currentIcons.currentAlienIcon }}" />
            {{ currentCharacter?.species }}
          </span>
          <span>
            <img src="{{ currentIcons.currentGenderIcon }}" />
            {{ currentCharacter?.gender }}
          </span>
        </div>
      </div>
      <div class="locations-characters">
        <div [ngClass]="['card-location', currentTheme]">
          <img src="{{ currentIcons.currentPlanetIcon }}" />
          <span>Planet</span>
          <p>{{ currentCharacter?.origin?.name }}</p>
        </div>
        <div [ngClass]="['card-location', currentTheme]">
          <img src="{{ currentIcons.currentPinIcon }}" />
          <span>{{ currentCharacter?.location?.name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
